body {
 margin: 0;
 padding: 1em 0;
 padding-top: 1em;
 padding-right: 0px;
 padding-bottom: 3em;
 padding-left: 0px;
 color: #454545;
font-family: Georgia, Times New Roman, serif;
}
 
#container {
 width: 600px;
 background: #fff;
 color: #555;
 border: 3px solid #ccc;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 border-radius: 10px;
 border-top: 3px solid #ddd;
 padding: 1em 2em;
 margin: 0 auto;
 -webkit-box-shadow: 3px 7px 5px #000;
 -moz-box-shadow: 3px 7px 5px #000;
 -ms-box-shadow: 3px 7px 5px #000;
 box-shadow: 3px 7px 5px #000;
}
 
ul {
 list-style: none;
 padding: 0;
}
 
ul > li {
 padding: 0.12em 1em
}
 
label {
 display: block;
 float: left;
 width: 130px;
}
 
input, textarea {
 font-family: Georgia, Serif;
}
.wlcome {
display:inline-block;
vertical-align:top;
font-family: "Times New Roman", Times, serif;
font-size: 20px;
color: red;
 float: left;
 position: relative;
 left: 40%;	
}
.profile_section_left {
width:270px;
height:auto;
float:left;
margin:0 14px 0 14px;
padding:0 10px 20px 10px;
border-style:778899;
background:url(images/home_block_bg.gif) no-repeat center bottom;

}
.profile_section_left p{
clear:both;
}
.profile_section_left p span{
font-weight:bold;
}
img.profile_section_icon{
width:63px;
float:left;
}
h2.profile_title{
width:200px;
float:left;
font-size:20px;
padding:20px 0 0px 10px; margin:0px;
color:#B52025;
}
.profile_subtitle{
width:190px;
float:left;padding:0px 0 0px 10px; font-size:12px; color:#a7a7a7;
}
.profile_section_thumb{
float:left; clear:both;
padding:2px; text-align:center;margin:10px 0 10px 0; border:1px #dcdcdc solid;
}
a.more{
float:right;
}
img.projects{
float:left;
padding:2px;margin:0 10px 0 0; border:1px #dcdcdc solid;
}
.center_contents{
width:980px;
clear:both;
margin:auto;
padding:10px 0 20px 0;
}
.profile_section_next{
width:500px;
height:300px;
float:left;
margin:0 14px 0 14px;
padding:0 10px 20px 10px;
border-style:8FBC8F;
background-color: #E6E6FA;

}
.profile_section_next p{
clear:both;
}
.profile_section_next p span{
font-weight:bold;
}
img.profile_section_icon_next{
width:63px;
float:left;
}
h2.profile_title_next{
width:190px;
float:left;
font-size:20px;
padding:20px 0 0px 10px; margin:0px;
color:#B52025;
}
.profile_subtitle_next{
width:190px;
float:left;padding:0px 0 0px 10px; font-size:12px; color:#a7a7a7;
}
.profile_section_thumb_next{
float:left; clear:both;
padding:2px; text-align:center;margin:10px 0 10px 0; border:1px #dcdcdc solid;
}
a.more{
float:right;
}
img.projects{
float:left;
padding:2px;margin:0 10px 0 0; border:1px #dcdcdc solid;
}
input.message_submit{
background-color:#b52025;
color:#FFFFFF;
text-align:center;
float:right;
padding:4px 4px 3px 4px;
margin:0 0 0 0px;
border:1px #fdeaeb solid;
cursor:pointer;
}
.search-container-profile{
	display:inline-block;
	vertical-align:top;
	margin-top:1px;
	margin:-5px 10px 0px 829px;
	width:194px;
	height: 2px;
}
.regiSearch{
background-color:#DCDCDC;
margin: auto;
padding: 8px 7px 8px 30px;
text-align: left;
font-size: 15px;
float: left;
width: 890px;
height: 30px;
}
.mlocator{

border: 1px solid #eee;
font-size: 20px;

}
#loc{
background-image:url(../images/location.png);

display: inline-block;
width: 1em;
   height: 1em;
}
.mlocator.Locate{
margin:3px 0 0 830px;
padding: 8px 10px 8px 30px;
background: #208250;
border: 0 none;
border-bottom: 1px solid #246e4b;
color: #fff;
cursor: pointer;
}

.regiSearch p{
padding: 8px 10px 8px 30px;
width: 500px;
border: 0 none;
font-size: 16px;


}

.th1 {
  width: 700px;  
}


.dropbtn {
	margin: 5px 42px 16px -50px;
color: white;
padding: 0px 14px 5px 31px;
font-size: 16px;
border: none;
cursor: pointer;
height: 40px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
