<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smsaware_smsaware</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">smsaware@1986</property>
        <property name="show_sql">true</property>		
        <property name="hbm2ddl.auto">create/update</property>
       <mapping class="com.smsaware.model.Registration"/>
       <mapping class="com.smsaware.model.Address"/>
        <mapping class="com.smsaware.model.UserOTP"/>
        <mapping class="com.smsaware.model.Comments"/>
        <mapping class="com.smsaware.model.ReplyComments"/>
        <mapping class="com.smsaware.model.Contacts"/>
        <mapping class="com.smsaware.pservice.MessageHistory"/>
    </session-factory>
</hibernate-configuration>
